
.dashboard-card {
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: 0.2s;
}

.dashboard-card:hover {
  transform: translateY(-3px);
}

.dashboard-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

/* Borders */
.border-green {
  border-top: 5px solid #20c997;
}
.border-blue {
  border-top: 5px solid #0d6efd;
}
.border-purple {
  border-top: 5px solid #6610f2;
}
.border-orange {
  border-top: 5px solid #fd7e14;
}
