include product-item.pug
mixin product-grid(products)
    if (products && products.length > 0)
        .product-grid
            each item in products
                +product-item(item)
    else
        .no-products
            i.fas.fa-box-open
            | Không có sản phẩm nào