mixin sub-menu(items, path)
    ul.sub-menu
        each item in items
            li
                a.menu-link(href=`${path}/${item.slug}`)
                    span #{item.title}
                    if item.children && item.children.length > 0
                        i.arrow ▸
                if item.children && item.children.length > 0
                    +sub-menu(item.children, path)
