extends ../../layouts/default.pug
block main
    .container.text-center.mt-5
        h1.display-1.text-danger 404
        h2.mt-3 Oops! Trang bạn tìm không tồn tại
        p.text-muted.mt-2 Có thể đường dẫn bị sai hoặc trang đã bị xóa.
        a.btn.btn-primary.mt-3(href="/") ← Quay lại Trang Chủ